---
- name: Frontend
  hosts: frontend
  tasks:
    - name: Update dnf package index      # for Amazon Linux AMIs
      ansible.builtin.dnf:                # for Amazon Linux AMIs
        update_cache: yes
    # - name: Update dnf package index # Let's try not to use this version
    #   ansible.builtin.package_facts:
    #     manager: dnf
    #   become: yes
    - name: Install Docker if not present
      ansible.builtin.dnf: # ansible.builtin.package was using yum
        name: 
          - docker
          - python3-pip
          # - docker-cli
          # - containerd.io
        state: present
      become: yes
    - name: Install Python Docker SDK for Ansible
      ansible.builtin.pip:
        name: docker
        executable: pip3
    - name: Enable and start Docker service
      ansible.builtin.systemd:
        name: docker
        enabled: yes
        state: started
      become: yes
    - name: Add ec2-user to docker group
      ansible.builtin.user:
        name: ec2-user
        groups: docker
        append: yes
      become: yes
    - name: Pull Docker Image
      community.docker.docker_image:
        name: barberry/vote
        source: pull
        tag: latest
    - name: Run Container
      community.docker.docker_container:
        name: vote
        image: barberry/vote:latest       # Change!
        ports:
          - "80:80"      # port mappings
        env:
          REDIS_HOST: "20.0.2.254"
          REDIS_PORT: "6379"
        state: started
